body {background: #f7f7f7;font-family: "verdana"; height: 90%}
html{height: 100%}
a {color:#ff0000}

h1{border-bottom: 1px solid #ddd;padding: 20px 0;margin-bottom: 20px; font-weight: 300; text-align: center; color: #00001e;}
h2{text-transform: capitalize;}

.huge {
    font-size: 40px;
}

.navbar-header{float:none;text-align: center;}
	
	/* top bar */
	.navbar {text-transform: uppercase;background-color: #0800FF;border: none}
	.navbar a  {color:#fff;font-weight: 300;text-decoration: none}
	.navbar-default .navbar-brand {color:#fff;font-weight: bold;margin:0;line-height: 50px;float:none; margin-left: auto; margin-right: auto; width: 60px; float: none; }
    
    /* toggle button */
	.navbar-header button {
		display:none;
	}
	/* Position where the element is fixed */
	.affix {top: 50px; width: 200px; }
	#affix {width: 200px;}

	.nav {
		list-style: none;
	}
	.nav li a {border-bottom: 1px solid #ddd; color:#00001e; font-size: 18px;}
	.nav li a i {margin-right:20px;}

/* footer at the bottom*/
#container {
	min-height: 100%;
	position: relative;
}
#content {
	display: inline-flex;
	width: 100%;
	padding-bottom:10px; /* Height of the footer element */
}

/* footer */

#footer {
display: block;
  bottom: 0;
  width: 100%;
  height: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  position:absolute;
  font-size: 10px;
}

/*panel*/

.panel-grey {
    border-color: #8D8AA4;
}

.panel-grey .panel-heading {
    border-color: #8D8AA4;
    color: #fff;
    background-color: #8D8AA4;
}
.panel-heading h2 {
	text-align: center;

}

.noscript {
	display: none;
}

.content {
	width: 70%;
}